.App {
  text-align: center;
  background-color: #b6dcfe93;
  height: 2000px
  
}

body{
  background-color: #b6dcfe93;
  background-image: url('./images/hotel2.jpg');
  background-size: cover;
  

}

header {
  background-color: #DEC5E3;
  font-family: 'Gravitas One', cursive;
  position:sticky;
  top:0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #c6ad78;
  text-shadow: 2px 2px #164b7aae;
  font-size: 30px
  ;
}

.booking-form-container{
  padding-top: 30px;
  display: flex;
  justify-content: center;

}

form {
  font-family: 'Poppins', sans-serif;
}

.booking-list{
  display: flex;
  flex-flow: row wrap;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  
}

.booking-card{
  font-family: 'Poppins', sans-serif;
  display:flex;
  flex-direction: column;
  width:300px;
  height: 300px;
  background-color: #c6ad78b0;
  box-shadow: 2px 2px 5px 2px #164b7aae;
  border-radius: 10px;
}

.delete-btn {
  margin: 2em;
  padding: 0.5em;
  align-self: center;
  background-color: #164b7aae;
  color: #f3cb76;
  width: 5em;
  border-radius: 5px;
  border: 2px solid #7d6e4e;
  cursor: pointer;
  font-weight: bold;
}

.check-in-btn, .check-out-btn, #save-button{
  background-color: #f3cb76;
  border: 2px solid #164b7aae;
  color: #164b7aae;
  font-weight: bold;
  border-radius: 5px;
  margin: 0.5em;
  cursor: pointer;
  padding: 0.5em;
}

#name, #email {
  background-color: #f9ecfb;
  margin: 1em;
  padding: 0.5em;
}
